body {
	font-family: 'Quicksand', Verdana, Geneva, Tahoma, sans-serif;
	
}
header {
	height:70px;
    padding: auto;
    background-color:	black;
	border-radius: 2pc;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 999;
}
header h1 {
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	color: wheat;
}
header h1 a {
	transition: .3s;
    
}
header ul {
	float: right;
	margin: auto;
}
header ul li {
	padding: 24px;
	display: inline-block;
}
header ul li a {
	transition: .3s;
}
header ul li a:hover {
	color: #F84744;
}
a {
	text-decoration: none;
    color: wheat;
	margin: auto;
}
.mobile-menu {
	float: right;
	display: none;
	padding:18px
	
}
.mobile-menu:hover {
	cursor: pointer;
}
#check {
	display: none;
}
.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -300px;
	width:300px;
	background-color: rgba(16, 47, 80, .9);
	transition: .3s;
	z-index: 9999;
}
.sidebar ul{
	list-style: none;
}
.sidebar ul :hover {
color: #F84744;
}
.sidebar ul li a {
	color: #fff;

}

.sidebar ul li {
	padding:24px;
	transition: .3s;
	transition-property: background-color;
}

#check:checked ~ .sidebar {
	left: 0;
}
.nav i {
	color: white;
}
section {
	background-color: white;
	padding-top: 70px;
	padding-bottom: 50px;
}
section h3 {
	padding-bottom: 20px;
	text-align: center;
	margin:20px;
	position: relative;
}
section h3::before {
	content:'';
	display: block;
	position: absolute;
	bottom: 0;
	width:120px;
	height:1px;
	background-color: black;
	left: calc(50% - 60px);
}
section h3::after {
	content:'';
	display: block;
	position: absolute;
	bottom: -1px;
	width:40px;
	height:4px;
	background-color: wheat;
	left: calc(50% - 20px);
}
.container {
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 50px 0;
	width: 60%;
	margin: auto;
}
.info {
	width: 30%;
}
.info-items {
	display: flex;
	width: 20pc;
	align-items: center;
}
.info-items .icon {
	padding-right: 30px;
}
.contact-form {
	width: 70%;
	text-align: right;
}
.form-grup{
	margin: 10px;
}
input {
	border-radius: 10px;
	width: 40%;
	height: 40px;
}
.form-grup textarea {
	border-radius: 10px;
	width: 80%;
	height: 150px;
}
.contact-form button {
	border-radius: 10px;
	margin: 5px;
	padding: 10px 25px;
}
footer {
	background-color: black;
	padding: 0px;
	text-align: center;
}
footer small {
	color: #fff;
}

@media (max-width: 768px){
		.mobile-menu {
			display: block;
		}
		header ul {
			display: none;
		}
		.container {
			flex-direction: column;
			width: 90%;
		}
		.info {
			width: 90%;
			margin: auto;
			text-align: center;
		}
		.icon {
			padding-left: 10%;
		}
		.info-items{
			margin: auto;
			flex-direction: column;
		}
		.contact-form {
			width: 90%;
			text-align: center;
			margin: auto;
		}
		textarea {
			margin: 0 auto;
		}
	}
